<aside class="po-resumes-list">
    <div class="po-resume">
        <div class="head">
            <h2 class="pa-title-primary"><a href="article.html">Защо партиите не го могат?</a></h2>
            <div class="timestamp pa-meta">19 май, 2014 год.</div>
            <picture class="pa-cover-image">
                <div class="cover-viewport">
                    <a href="article.html">
                        <img src="https://www.dnevnik.bg/shimg/zx860y484_2906623.jpg" width="100%" alt="Защо партиите не го могат?">
                    </a>
                </div>
            </picture>
        </div>
        <div class="body">
            <p>Как мислите, дали българска политическа партия може да проведе конференция, на която препълнилите залата делегати, в продължение на повече от 9 часа слушат с притаен дъх речи, но не защото такава е партийната повеля, а просто защото им е страшно интересно? Абсурд?</p>
            <p>А какво ще кажете, ако на същата тази конференция лидерите не само че държат речите, свободно, без да четат, ами при това го правят на английски език? А делегатите от своя страна са толкова интелигентни, че разбират всичко и без преводачи? Това вече не е абсурд, а научна фантастика, нали?</p>
        </div>
        <div class="foot pm-meta-line">
            <div class="pa-meta ut-typo-arrow-r" data-role="more"><a class="ut-typo-read-more" href="article.html"></a></div>
        </div>
    </div>
    <div class="po-resume">
        <div class="head">
            <h2 class="pa-title-primary"><a href="article.html">Открихте ли се на снимката?</a></h2>
            <div class="timestamp pa-meta">29 юни, 2014 год. |&nbsp;<a href="article.html#comments">4 коментара</a></div>
            <picture class="pa-cover-image">
                <div class="cover-viewport">
                    <a href="article.html">
                        <img src="http://static2.businessinsider.com/image/559413cc6da811895b51e628-1190-625/the-tragically-powerful-story-behind-the-lone-german-who-refused-to-give-hitler-the-nazi-salute.jpg" width="100%" alt="Открихте ли се на снимката?">
                    </a>
                </div>
            </picture>
        </div>
        <div class="body">
            <p>Вгледайте се внимателно, има ви. Не, не сте този в кръгчето. Няма как всички да сте този човек. Той е един. Вие сте някъде сред другите. Потърсете се. Това не е снимка на нацисти. Това е вечната фотография на тълпата, на партийните талибани, на сляпо вярващите. На онези, които доброволно се отказват от суверенитета над разума си и го предоставят на умели (или не съвсем) „илюзионисти“. Това е снимка на действителността.</p>
        </div>
        <div class="foot pm-meta-line">
            <div class="pa-meta ut-typo-arrow-r" data-role="more"><a class="ut-typo-read-more" href="article.html"></a></div>
        </div>
    </div>
</aside>