<div class="po-comments-list">
    <ul>
        <li>
            <div class="pm-comment">
                <div class="pm-user-head">
                    <picture class="pa-avatar"></picture>
                    <div class="data">
                        <div class="pa-author">Георги Георгиев</div>
                        <div class="pa-meta">31 декември, 2017 год. | 09:23 ч.</div>
                    </div>
                </div>
                <div class="content">
                    <p>Внимавайте вие, читатели и слушатели, роде български, които обичате и вземате присърце своя род и своето българско отечество и желаете да разберете и знаете известното за своя български род и за вашите бащи, прадеди и царе, патриарси и светии как изпърво са живели и прекарвали. </p>
                </div>
            </div>
        </li>
        <li>
            <div class="pm-comment">
                <div class="pm-user-head">
                    <picture class="pa-avatar"></picture>
                    <div class="data">
                        <div class="pa-author">Петър Петров</div>
                        <div class="pa-meta">31 декември, 2017 год. | 13:55 ч.</div>
                    </div>
                </div>
                <div class="content">
                    <p>За вас е потребно и полезно да знаете известното за делата на вашите бащи, както знаят всички други племена и народи своя род и език, имат история и всеки грамотен от тях знае, разказва и се гордее със своя род и език.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="pm-comment">
                <div class="pm-user-head">
                    <picture class="pa-avatar"></picture>
                    <div class="data">
                        <div class="pa-author">Румен Руменов</div>
                        <div class="pa-meta">6 януари, 2018 год. | 15:08 ч.</div>
                    </div>
                </div>
                <div class="content">
                    <p>Така и аз ви написах подред това, което е известно за вашия род и език. </p>
                </div>
            </div>
        </li>
        <li>
            <div class="pm-comment">
                <div class="pm-user-head">
                    <picture class="pa-avatar"></picture>
                    <div class="data">
                        <div class="pa-author">Иван Иванов</div>
                        <div class="pa-meta">7 януари, 2018 год. | 16:33 ч.</div>
                    </div>
                </div>
                <div class="content">
                    <p>Твърде много обикнах българския род и отечество и много труд употребих да събирам от различни книги и истории, докато събрах и обединих историята на българския род в тая книжка за ваша полза и похвала. Написах я за вас, които обичате своя род и българското отечество и обичате да знаете за своя род и език. Преписвайте тая историйка и платете, нека ви я препишат, които умеят да пишат, и пазете я да не изчезне!</p>
                </div>
            </div>
        </li>
    </ul>
</div>