// =========================| Atom: Credit |========================= //



.pa-credit {

  //--------------------------| Variables

  $font-face: map-get($roles-typo-font-families, 'credit');
  $font-size: map-get($roles-typo-font-sizes, 'credit');
  $font-weight: map-get($roles-typo-font-weights, 'credit');
  $text-col: map-get($roles-col-texts, 'credit');


  //--------------------------| Base

  font: $font-weight $font-size $font-face;
  color: $text-col;


  //--------------------------| Children

  > p {
    margin-bottom: 0;
  }


} // .pa-credit
