// =========================| Atom: Note |========================= //



.pa-note {

  //--------------------------| Variables

  $offset: .2em;


  //--------------------------| Base

  @include mq-device-holding-type('inpocket') {
    padding: 3.6em 2em 1em;

    &::before {
      @include translateX(-50%);

      top: $offset;
      left: 50%;
    }
  }

  @include mq-device-holding-type('outpocket') {
    padding: 1em 1em 1em 3em;

    &::before {
      top: $offset;
      left: .4em;
    }
  }

  position: relative;
  font-size: .9em;
  font-style: italic;
  background-color: map-get($roles-col-backgrounds, 'note');

  &::before {
    @include text-shadow(1px 1px 0 map-get($reg-colors, 'white'));

    position: absolute;
    font-size: 2.6em;
    font-weight: map-get($roles-typo-font-weights, 'symbol');
    line-height: 1;
    color: map-get($reg-colors, 'golden-tainoi');
    content: 'i';
  }

  p {
    @include selection(map-get($reg-colors, 'golden-tainoi'));

    &:last-child {
      margin-bottom: 0;
    }
  }


} // .pa-note
