// =========================| Atom: Spinner |========================= //



.pa-spinner {

  //--------------------------| Keyframes

  @at-root {
    @-webkit-keyframes sk-rotateplane {
      0% { -webkit-transform: perspective(120px); }
      50% { -webkit-transform: perspective(120px) rotateY(180deg); }
      100% { -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg); }
    }

    @keyframes sk-rotateplane {
      0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      }

      50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      }

      100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
    }
  }


  //--------------------------| Variables

  $spinner-size: 2rem;
  $animation-step: 1.2s;


  //--------------------------| Base

  display: inline-block;
  width: $spinner-size;
  height: $spinner-size;
  pointer-events: none;
  background-color: map-get($reg-backgrounds, 'bossanova');
  -webkit-animation: sk-rotateplane $animation-step infinite ease-in-out;
  animation: sk-rotateplane $animation-step infinite ease-in-out;


} // .pa-spinner
