// =========================| Atom: Sticker |========================= //



.pa-sticker {

  //--------------------------| Variables

  $offset: 1em;
  $text-size: .8em;
  $text-color: darken(map-get($reg-colors, 'picton-blue'), 33%);


  //--------------------------| Base

  @include display-flex();
  @include flex-wrap(wrap);

  position: relative;
  padding: $offset;
  font-size: $text-size;
  line-height: map-get($roles-typo-line-heights, 'text');
  color: $text-color;
  background-color: map-get($reg-colors, 'black-squeeze');
  break-inside: avoid;


  //--------------------------| Content

  .content {
    font-style: italic;

    * {
      @include selection(map-get($reg-colors, 'picton-blue'));
    }
  }


} // .pa-sticker
