// =========================| Molecule: User head |========================= //



.pm-user-head {

  //--------------------------| Variables

  $offset: .5em;


  //--------------------------| Base

  @include display-flex();


  //--------------------------| Data

  > .data {
    @include flex(1);
    @include align-self(center);

    margin-left: $offset;
  }

  .pa-meta a {
    color: map-get($roles-col-texts, 'meta');
    border-bottom: 0;
  }


} // .pm-user-head
