// =========================| Molecule: Links list |========================= //



.pm-links-list {

  //--------------------------| Variables

  $link-font-face: map-get($roles-typo-font-families, 'system');


  //--------------------------| Base

  & {
    @extend %ph-list-reset;

    @include user-select(none);

    font-family: $link-font-face;
  }

  @include mq-device-holding-type('inpocket') {
    text-align: center;
  }

  > .row {
    @include align-items(center);
  }


  //--------------------------| List item

  .item {
    display: block;

    &:not(:last-child) {
      @include margin-v(calc(#{map-get($roles-typo-font-sizes, 'system')} / 2));
    }
  }


  //--------------------------| Links

  //a {}


  //--------------------------| Print

  & {
    @include mq-print() {
      display: none;
    }
  }


} // .pm-links-list
