// =========================| Molecule: Meta line |========================= //



.pm-meta-line {

  //--------------------------| Variables

  $offset-inner: 1em;


  //--------------------------| Base

  display: flex;
  justify-content: space-between;
  font-style: italic;


  //--------------------------| Children

  > *:not(:first-child):not(:only-child) {
    margin-left: $offset-inner;
  }

  > *:last-child:not(:only-child),
  > *:only-child[data-role='more'] {
    flex: 1;
    text-align: right;
  }

  [data-role='comments'] a {
    @include ellipsis();
  }


} // .pm-meta-line
