<footer class="po-footer" id="layout-footer">
    <div class="wrp-page">
        <nav class="po-foot-nav">
            <div class="links">
                <div class="category" data-type="pages">
                    <label class="pa-title-system">Страници</label>
                    <div class="pm-links-list">
                        <ul>
                            <li class="item"><a href="index.html">Начало</a></li>
                            <li class="item"><a href="articles.html">Публикации</a></li>
                            <li class="item"><a href="thoughts.html">Мисли</a></li>
                            <li class="item"><a href="author.html">Авторът</a></li>
                            <li class="item"><a href="contant.html">Контакт</a></li>
                        </ul>
                    </div>
                </div>
                <div class="category" data-type="headings">
                    <label class="pa-title-system">Рубрики</label>
                    <div class="pm-links-list">
                        <ul>
                            <li class="item"><a href="heading.html">Политика</a></li>
                            <li class="item"><a href="heading.html">Общество</a></li>
                            <li class="item"><a href="heading.html">История</a></li>
                            <li class="item"><a href="heading.html">Свят</a></li>
                            <li class="item"><a href="heading.html">Спорт</a></li>
                        </ul>
                    </div>
                </div>
                <div class="category" data-type="tags">
                    <label class="pa-title-system">Топ етикети</label>
                    <div class="pm-links-list">
                        <ul>
                            <li class="item"><a href="tag.html">България</a></li>
                            <li class="item"><a href="tag.html">Европейски съюз</a></li>
                            <li class="item"><a href="tag.html">ГЕРБ</a></li>
                            <li class="item"><a href="tag.html">Русия</a></li>
                            <li class="item"><a href="tag.html">Григор Димитров</a></li>
                        </ul>
                    </div>
                </div>
                <div class="category" data-type="most-read">
                    <label class="pa-title-system">Най-четени</label>
                    <div class="pm-links-list">
                        <ul>
                            <li class="item"><a href="article.html">„Да, България!“ като филм на ужасите</a></li>
                            <li class="item"><a href="article.html">Силата да си свободен</a></li>
                            <li class="item"><a href="article.html">Открихте ли се на снимката?</a></li>
                            <li class="item"><a href="article.html">Защо партиите не го могат?</a></li>
                            <li class="item"><a href="article.html">За Комисията „Хохегер“ и защо не беше преименувана на Комисията „Моника“</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="pm-credits-line">
            <div class="pa-credit">
                <p>Този блог е изграден върху&nbsp;<a href="https://bg.wordpress.org" target="_blank">WordPress</a> и се стопанисва от&nbsp;<a href="https://www.superhosting.bg" target="_blank">SUPERHOSTING.bg</a>.</p>
                <p>Съдържанието в него може да се използва съобразно лиценза&nbsp;<a href="http://creativecommons.org/licenses/by-nc-nd/4.0" target="_blank">Creative Commons 4.0</a>.</p>
            </div>
            <div class="pa-credit ut-typo-nowrap">
                <div class="pa-signature">
                    <label>Петър Петров</label><span class="logo"></span>
                </div><span class="copyright"><span class="year">© 2013–2018&nbsp;</span><span class="site">www.peter.bg</span></span>
            </div>
        </div>
    </div>
</footer>