<div class="po-category-panel ut-bgr-white ut-ofs-section">
    <label class="pa-head-label"><a class="text" href="javascript:;">За децата</a></label>
    <div class="pm-links-list">
        <ul>
            <li class="item"><a href="javascript:;">Под охрана</a></li>

            <li class="item"><a href="javascript:;">Помо-о-о-ощ!</a></li>

            <li class="item"><a href="javascript:;">Едно врабче</a></li>

            <li class="item"><a href="javascript:;">Търтейчо</a></li>

            <li class="item"><a href="javascript:;">Джуджешки работи</a></li>

        </ul>
    </div>
    <div class="pm-meta-line">
        <div class="pa-meta ut-typo-arrow-r" data-role="more"><a href="javascript:;">Виж цялата категория</a></div>
    </div>
</div>