<picture class="pa-cover-image">
    <div class="cover-viewport">
        <img src="https://dabulgaria.bg/wp-content/uploads/2017/03/th-2315655766-1278x852-800x400.jpg" width="100%" alt="„Да, България!“ като филм на ужасите">
    </div>
</picture>