// =========================| Utility classes: Display |========================= //



//--------------------------| Block

.ut-d-b {
  display: block;
}


//--------------------------| Inline block

.ut-d-ib {
  display: inline-block;
}


//--------------------------| Flex

.ut-d-f {
  display: f;
}
