// =========================| Utility classes: Panels |========================= //



//--------------------------| Data

$util-panels: (
  'paper': (
    'background': map-get($roles-col-backgrounds, 'paper'),
    'shadow': map-get($roles-shadows, 'panel')
  ),
  'glass': (
    'shadow': map-get($roles-shadows, 'panel'),
    'border': 1px solid map-get($reg-colors, 'white')
  )
);


//--------------------------| Generator

@for $p from 1 through length($util-panels) {
  $name: nth(nth($util-panels, $p), 1);
  $value: map-get($util-panels, $name);

  .ut-panel-#{$name} {
    $bgr: map-get($value, 'background');
    $shadow: map-get($value, 'shadow');
    $border: map-get($value, 'border');

    @if $shadow {
      @include box-shadow($shadow);
    }

    @if $border {
      border: $border;
    }

    background: $bgr;
  }
}

.ut-panel-glass {
  @include background-image(map-get($reg-gradients, 'blur'));
}
