// =========================| Utility classes: Typography |========================= //



//--------------------------| Faces




//--------------------------| Sizes




//--------------------------| Line heights




//--------------------------| Weights




//--------------------------| Styles

.ut-typo-capitalize {
  &::first-letter {
    text-transform: capitalize;
  }
}

.ut-typo-lowercase {
  text-transform: lowercase;
}


//--------------------------| Alignments

.ut-typo-tac {
  text-align: center;
}

.ut-typo-tar {
  text-align: right;
}

.ut-typo-tal {
  text-align: left;
}

.ut-typo-tac-mobile {
  @include mq-device-holding-type('inpocket') {
    text-align: center;
  }
}


//--------------------------| Wrap

.ut-typo-nowrap {
  white-space: nowrap;
}



//--------------------------| Indent

.ut-typo-indent {
  text-indent: map-get($roles-typo-utilities, 'indent');
}


//--------------------------| Highlight

.ut-typo-highlight {
  @include font-smoothing(none);
  @include selection(dark(map-get($roles-col-backgrounds, 'highlight'), 25%));

  font-weight: map-get($roles-typo-font-weights, 'highlight');
  background-color: map-get($roles-typo-utilities, 'highlight');
}


//--------------------------| Signature

.ut-typo-signature {
  font-style: italic;
  text-align: right;
}


//--------------------------| Pseudo content

.ut-typo-read-more {
  &::before {
    content: 'Прочети още';
  }
}

.ut-typo-arrow-l {
  &::before {
    content: '← ';
  }
}

.ut-typo-arrow-r {
  &::after {
    content: ' →';
  }
}
