// =========================| Placeholders: Lists |========================= //



//--------------------------| Reset lists look

%ph-list-reset {
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
