// =========================| Placeholders: Typography |========================= //



//--------------------------| Text

%ph-typo-texts {
  @include font-smoothing();
  @include typo-line-heights('text', map-get($roles-typo-line-heights, 'text'));

  font-size: map-get($roles-typo-font-sizes, 'primary-text');
}


//--------------------------| Titles

%ph-typo-titles {
  @include typo-line-heights('title', map-get($roles-typo-line-heights, 'title'));

  font-family: map-get($roles-typo-font-families, 'title');
  font-weight: normal;

  &:last-child {
    margin: 0;
  }

  &:not(:last-child) {
    margin: 0 0 1rem;
  }
}
