// =========================| Organism: Links lists |========================= //



.po-links-lists {

  //--------------------------| Variables

  $offset: #{get-page-offset()}vw;


  //--------------------------| Base

  @include display-flex();
  @include flex-wrap(wrap);

  @include mq-tablet-breakpoint('below') {
    text-align: center;

    > * {
      @include separator();
    }
  }

  @include mq-tablet-breakpoint('above') {
    margin-bottom: calc(#{$offset} * -1);

    > * {
      margin-bottom: $offset;

      > * {
        height: 100%;
      }
    }
  }


} // .po-links-lists
