// =========================| Organism: Quotes list |========================= //



.po-quotes-list {

  //--------------------------| Variables

  $offset: #{get-page-offset()}vw;


  //--------------------------| Base

  & {
    @extend %ph-list-reset;
  }

  li {
    @include separator();

    width: 100%;
  }

  @include mq-screen-size-type('desktop') {
    column-count: 2;
    column-gap: $offset;

    li {
      display: inline-block;
    }
  }


} // .po-quotes-list
