// =========================| Organism: Article |========================= //



.po-article {

  //--------------------------| Variables

  $secondary-title-offset: 1.5em 0 .6em;
  $offset: #{get-page-offset()}vw;
  $offset-inner: .5em;


  //--------------------------| Base

  & {
    @extend %ph-post-flow;

    margin: 0 auto;
  }


  //--------------------------| Head




  //--------------------------| Body

  > .body {
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .pa-title-secondary {
    margin: $secondary-title-offset;
  }

  blockquote {
    padding-left: $offset-inner;
    font-size: .9em;
    font-style: italic;
    color: map-get($roles-col-texts, 'secondary');
    border-left: 1px solid map-get($roles-col-borders, 'quote');
  }


  //--------------------------| Foot

  .foot {
    padding-top: $offset-inner;
    border-top: 1px solid map-get($roles-col-borders, 'foot-line');
  }


  //--------------------------| Print

  & {
    @include mq-print() {
      .sharedaddy,
      #respond {
        display: none;
      }
    }
  }


} // .po-article
