// =========================| Organism: Article |========================= //



.po-article {

  //--------------------------| Variables

  $offset: #{get-page-offset()}vw;
  $offset-inner: .5em;


  //--------------------------| Base

  & {
    @extend %ph-post-flow;

    @include typo-line-heights('text', map-get($roles-typo-line-heights, 'text'));

    max-width: $roles-size-post;
    margin: 0 auto;
  }


  //--------------------------| Head

  .head {
    text-align: center;
  }


  //--------------------------| Body

  .body {
    $col-selection: map-get($roles-col-backgrounds, 'selection');

    .char1 {
      font-size: 2em;
      line-height: 1;
    }

    p {
      text-indent: 2em;
    }
  }

  .pa-cover-image {
    &.full {
      .cover-viewport {
        padding: 0;
        background: none;
        border: 0;
      }

      img {
        @include translate(0, 0);

        position: static;
        border: 0;
      }
    }
  }


  //--------------------------| Foot

  .foot {
    padding-top: $offset-inner;
    border-top: 1px solid map-get($roles-col-borders, 'foot-line');
  }


  //--------------------------| Print

  & {
    @include mq-print() {
      .sharedaddy,
      #respond {
        display: none;
      }
    }
  }


} // .po-article
