// =========================| Organism: Post |========================= //



.po-post {

  //--------------------------| Variables

  $offset: #{get-page-offset()}vw;
  $offset-inner: .5em;


  //--------------------------| Base

  & {
    @extend %ph-post-flow;

    @include typo-line-heights('text', map-get($roles-typo-line-heights, 'text'));
  }


  //--------------------------| Head

  //.head {}


  //--------------------------| Body

  .body {
    @include text-shadow(1px 1px 0 rgba(light(map-get($roles-col-texts, 'secondary'), 95%), .5));
  }

  .pa-cover-image {
    &.full {
      .cover-viewport {
        padding: 0;
        background: none;
        border: 0;
      }

      img {
        @include translate(0, 0);

        position: static;
        border: 0;
      }
    }
  }


  //--------------------------| Foot

  .foot {
    padding-top: $offset-inner;
    border-top: 1px dashed map-get($roles-col-borders, 'foot-line');
  }


  //--------------------------| Types

  &:not([data-type]) { // default type: article
    .body {
      .char1 {
        font-size: 2em;
        line-height: 1;
      }

      > p:first-of-type {
        text-indent: map-get($roles-typo-utilities, 'indent');
      }
    }
  }


  //--------------------------| Print

  & {
    @include mq-print() {
      .sharedaddy,
      #respond {
        display: none;
      }
    }
  }


} // .po-post
