// =========================| Organism: Resume |========================= //



.po-resume {

  //--------------------------| Variables

  $offset: #{get-page-offset()}vw;
  $offset-inner: .5em;
  $text-color: map-get($roles-col-texts, 'primary');


  //--------------------------| Base

  @include mq-tablet-breakpoint('above') {
    font-size: .8rem;
  }

  & {
    @extend %ph-post-flow;

    @include typo-line-heights('resume', map-get($roles-typo-line-heights, 'text'));

    display: block;
  }


  //--------------------------| Body

  .body {
    color: $text-color;
  }


  //--------------------------| Print

  & {
    @include mq-print() {
      display: block !important;
    }
  }


} // .po-resume
