// =========================| Organism: Resume |========================= //



.po-resume {

  //--------------------------| Variables

  $offset: #{get-page-offset()}vw;
  $offset-inner: .5em;
  $text-color: map-get($roles-col-texts, 'primary');


  //--------------------------| Base

  & {
    @extend %ph-post-flow;

    @include typo-line-heights('resume', map-get($roles-typo-line-heights, 'excerpt'));

    display: block;
    font-size: .8rem;
  }


  //--------------------------| Body

  &:not([data-type]) {
    .body {
      font-family: map-get($roles-typo-font-families, 'excerpt');
      color: $text-color;
    }
  }


  //--------------------------| Print

  & {
    @include mq-print() {
      display: block !important;
    }
  }


} // .po-resume
