// =========================| Organism: Resumes list |========================= //



.po-resumes-list {

  //--------------------------| Variables

  $offset: 3rem;


  //--------------------------| Base




  //--------------------------| Resume

  //.po-resume {}


  //--------------------------| Separator

  > * {
    @include separator();

    position: relative;

    &:not(:last-child) {
      margin-bottom: $offset;

      &::after {
        @include translate(-50%, 50%);

        position: absolute;
        bottom: calc(-#{($offset / 2)} - 3px);
        left: 50%;
        padding: 0;
      }
    }
  }


} // .po-resumes-list
