<article class="po-article">
    <div class="head">
        <h2 class="pa-title-primary"><a href="article.html">„Да, България!“ като филм на ужасите</a></h2>
        <div class="timestamp pa-meta">15 ноември, 2013 год. | 11:55 ч.</div>
        <picture class="pa-cover-image">
            <div class="cover-viewport">
                <a href="article.html">
                    <img src="https://dabulgaria.bg/wp-content/uploads/2017/03/th-2315655766-1278x852-800x400.jpg" width="100%" alt="„Да, България!“ като филм на ужасите">
                </a>
            </div>
        </picture>
    </div>
    <div class="body">
        <p>Забележителен е ажиотажът в родните партийни кошери, след новината за появата на „Да, България!“. Притеснението е очевидно, но изразът на това притеснение е странен: повсеместно вайкане, за това, че не можело да се определи разположението на новия субект върху политическата координатна система. Като че ли това е най-важното.</p>
        <h2 class="pa-title-secondary">Първо подзаглавие</h2>
        <p>Защо толкова им трябват тези координати? Защото наличието на такива и изтъкването им още в началото, преди всичко друго, гарантира, че със субекта сме себебодобни. А себеподобният дори да е против нас, е като нас: ще плува в същото блато и макар да се хапем с него или да си отнемаме плячката, той няма да посегне на общия ни корупционен хабитат – нашата жизнена среда. Статуквото сякаш казва: <em>Моля, определете се, и заповядайте тук при нас, да си живеем в тинята.</em> А всъщност плачът за координатите прикрива един дълбок, атавистичен страх, че новият субект може да идва за друго.</p>
        <h2 class="pa-title-secondary">Второ подзаглавие</h2>
        <p>В момента основата на българската държавност, върху която е разположена и политическата координатна система, е прогнила: Няма правосъдие, липсва образованост, отсъства икономика на бъдещето. В тази гнилоч партиите от статуквото потупват внимателно координатнатните си опоненти с безопасни леви, десни или центристки възглавници. Но за корупцията, скапваща фундамента – мълчание.</p>
        <p>И тук внезапно се появява „Да, България!“, която вместо да е поредният обитател, заявява намерение първо да пресуши блатото. <strong>Ужас! Ами сега?</strong></p>
    </div>
    <div class="foot pm-meta-line">
        <div class="pa-meta"><a href="article.html#comments">Коментари (17)</a></div>
        <div class="pa-meta ut-typo-arrow-r"><a href="heading.html">Още от рубриката „Политика“</a></div>
    </div>
</article>