<div class="pm-quoteblock">
    {{#quoteblock.meta}}
        {{> atoms-meta }}
    {{/quoteblock.meta}}
    <blockquote class="pa-quote"><a target="_blank" href="javascript:;">{{ quoteblock.text }}</a></blockquote>
</div>