<nav class="po-head-nav">
    <div class="main-menu">
        <input class="checkbox-toggle" id="head-nav-nav-input" type="checkbox"/>
        <label class="mobile-toggle" for="head-nav-nav-input"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M18.29,73.14H237.71a18.29,18.29,0,1,0,0-36.57H18.29a18.29,18.29,0,1,0,0,36.57Zm219.42,36.57H18.29a18.29,18.29,0,0,0,0,36.58H237.71a18.29,18.29,0,0,0,0-36.58Zm0,73.15H18.29a18.29,18.29,0,1,0,0,36.57H237.71a18.29,18.29,0,1,0,0-36.57Z"/></svg></label>
        <div class="stage">
            <label class="mobile-toggle" for="head-nav-nav-input"></label>
            <ul>
                <li class="menu-item current_page_item current-menu-item"><a href="index.html">Начало</a></li>
                <li class="menu-item"><a href="articles.html">Публикации</a></li>
                <li class="menu-item"><a href="thoughts.html">Мисли</a></li>
                <li class="menu-item"><a href="author.html">Авторът</a></li>
                <li class="menu-item"><a href="contact.html">Контакт</a></li>
            </ul>
        </div>
    </div>
    <div class="search-bar" data-rjs="uiSearchBar">
        <input class="checkbox-toggle" id="head-nav-search-input" type="checkbox"/>
        <label class="mobile-toggle" for="head-nav-search-input"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path d="M233.37,196.25,181.2,152.76a97.11,97.11,0,0,1-28.42,28.43l43.47,52.18a12.36,12.36,0,0,0,17.37,1.9,12.55,12.55,0,0,0,1.15-1l19.45-19.45a12.35,12.35,0,0,0,.33-17.46A13.25,13.25,0,0,0,233.37,196.25Z"/><path d="M183,100.51A82.49,82.49,0,1,0,100.51,183,82.49,82.49,0,0,0,183,100.51Zm-82.48,61.86a61.87,61.87,0,1,1,61.86-61.86A61.87,61.87,0,0,1,100.51,162.37Z"/></svg></label>
        <div class="stage">
            <label class="mobile-toggle"></label>
            <form action="results.html">
                <input id="s" type="search" placeholder="Какво желаете да ви намеря?"/>
                <input type="submit"/>
            </form>
        </div>
    </div>
</nav>