<div class="po-quotes-list">
    <ul>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">50m</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Я само се чудим дали Никол е подсетила Гришо да преточи зелето.</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Nov 17</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Който е Григорил сега ще конячи. <br>Ха наздраве!</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Nov 14</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Приемете, че както от кошмарите на съня се спасяваме с бягство в действителността, така от нейните се спасяваме с бягство в смъртта.</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Nov 12</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Борисов е добрият, грантаджиите са лошите. <br>А три патки попиват мъдрости.</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Nov 11</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Ох, да взема и аз да проговоря. Обвинявам Памела Андерсън в сексуален тормоз. Никога не ми посегна.</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Nov 9</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Добро утро с най-високия тон, изпят някога от човек. Дами и господа, Одри Луна!</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Nov 7</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Божидар Димитров е направо за Нобелова награда: Разкри, че циците са мозъчните полукълба на жените.</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Nov 6</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">От вчера в Рая положението се спутиняса до изтръмпване.</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Oct 8</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">След като осигури тишина в курортите, Симеонов се прицели и в тишината на медиите.</a></blockquote>
            </div>
        </li>
        <li>
            <div class="pm-quoteblock">
                <div class="pa-meta">Oct 2</div>
                <blockquote class="pa-quote"><a target="_blank" href="https://twitter.com/Hityr5yr">Ако срещнете мечка в гората, не се притеснявайте, тя не е заплаха. Заплаха са само някои нейни действия. <br>Екатерина Захариева.</a></blockquote>
            </div>
        </li>
    </ul>
</div>