<div class="po-links-lists">
    <div class="col-xl-4 col-s-6">
        <div class="ut-bgr-white ut-ofs-section">
            <div class="pm-links-list">
                <h2 class="pa-title-secondary"><a href="heading.html">Политика</a></h2>
                <ul>
                    <li class="item"><a href="article.html">„Да, България!“ като филм на ужасите</a></li>
                    <li class="item"><a href="article.html">Защо партиите не го могат?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-s-6">
        <div class="ut-bgr-white ut-ofs-section">
            <div class="pm-links-list">
                <h2 class="pa-title-secondary"><a href="heading.html">Общество</a></h2>
                <ul>
                    <li class="item"><a href="article.html">Силата да си свободен</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-s-6">
        <div class="ut-bgr-white ut-ofs-section">
            <div class="pm-links-list">
                <h2 class="pa-title-secondary"><a href="heading.html">История</a></h2>
                <ul>
                    <li class="item"><a href="article.html">Открихте ли се на снимката?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-s-6">
        <div class="ut-bgr-white ut-ofs-section">
            <div class="pm-links-list">
                <h2 class="pa-title-secondary"><a href="heading.html">Свят</a></h2>
                <ul>
                    <li class="item"><a href="article.html">Глобалното затопляне</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-s-6">
        <div class="ut-bgr-white ut-ofs-section">
            <div class="pm-links-list">
                <h2 class="pa-title-secondary"><a href="heading.html">Спорт</a></h2>
                <ul>
                    <li class="item"><a href="article.html">Мачкай, Гришо!</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>