<nav class="po-foot-nav">
    <div class="links">
        <div class="category" data-type="headings">
            <label class="pa-title-system">Рубрики</label>
            <div class="pm-links-list">
                <ul>
                    <li class="item"><a href="heading.html">Политика</a></li>
                    <li class="item"><a href="heading.html">Общество</a></li>
                    <li class="item"><a href="heading.html">История</a></li>
                    <li class="item"><a href="heading.html">Свят</a></li>
                    <li class="item"><a href="heading.html">Спорт</a></li>
                </ul>
            </div>
        </div>
        <div class="category" data-type="tags">
            <label class="pa-title-system">Топ етикети</label>
            <div class="pm-links-list">
                <ul>
                    <li class="item"><a href="tag.html">България</a></li>
                    <li class="item"><a href="tag.html">Европейски съюз</a></li>
                    <li class="item"><a href="tag.html">ГЕРБ</a></li>
                    <li class="item"><a href="tag.html">Русия</a></li>
                    <li class="item"><a href="tag.html">Григор Димитров</a></li>
                </ul>
            </div>
        </div>
        <div class="category" data-type="most-read">
            <label class="pa-title-system">Най-четени</label>
            <div class="pm-links-list">
                <ul>
                    <li class="item"><a href="article.html">„Да, България!“ като филм на ужасите</a></li>
                    <li class="item"><a href="article.html">Силата да си свободен</a></li>
                    <li class="item"><a href="article.html">Открихте ли се на снимката?</a></li>
                    <li class="item"><a href="article.html">Защо партиите не го могат?</a></li>
                    <li class="item"><a href="article.html">За Комисията „Хохегер“ и защо не беше преименувана на Комисията „Моника“</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>