<div class="pa-sticker" data-type="poetry">
    <div class="content">
        <h3>{{ sticker.title }}</h3>
        <div class="text">
            <p>{{ sticker.text }}</p>
        </div>
    </div>
</div>