// =========================| Base: Layout |========================= //



//--------------------------| Variables

$layout-bgr-color: map-get($roles-col-backgrounds, 'page');
$layout-bgr-image: map-get($reg-gradients, 'linear-white-to-gray');
$offset-vw: #{get-page-offset()}vw;
$offset-rem: 2.726rem;


//--------------------------| Body

body {
  @include background-image($layout-bgr-image);

  background-attachment: fixed;
  background-color: $layout-bgr-color;
  background-repeat: no-repeat;
  background-size: 100% 50vh;
}


//--------------------------| Layout

#layout {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQoU2NkIAIwElLz////M3gVgRUwMpoQNAlkE1ZFMBNgTsFQhK4Ap0nonoGbhM0EFOvwKQApBAB8YxfTDrIj0wAAAABJRU5ErkJggg==') repeat fixed;
}

#layout,
#layout-stage {
  min-height: 100vh;
}

#layout-stage {
  display: flex;
  flex-direction: column;
}

#layout-main {
  flex: 1;
  margin: $offset-vw 0 $offset-rem;
}


//--------------------------| Grid

@at-root {
  .container {
    max-width: none;
    padding: 0 calc((#{$offset-vw} / 2) * -1);
  }

  .row:not(.no-gutters) {
    @include margin-h(calc((#{$offset-vw} / 2) * -1));

    [class*='col'] {
      @include padding-h(calc(#{$offset-vw} / 2));
    }
  }
}


//--------------------------| Templates

.tmpl-section {
  & + .tmpl-section {
    margin-top: 2.726em;
  }
}


//--------------------------| Form elements

input,
textarea,
button {
  @include appearance(none);
  @include border-radius(0);

  outline: none;
}

input:not([type='button']):not([type='reset']):not([type='submit']):not([type='checkbox']):not([type='radio']),
textarea {
  @include transition(box-shadow map-get($roles-transitions, 'glow') ease-in-out, border-color map-get($roles-transitions, 'glow') ease-in-out);

  &:focus {
    @include box-shadow(0 0 5px map-get($roles-col-states, 'focused'));
  }
}

textarea {
  min-height: 200px;
}

input[type='button'],
input[type='reset'],
input[type='submit'],
button {
  cursor: pointer;
}


//--------------------------| Print

@media print {
  * {
    @include text-shadow(none !important);
  }

  body {
    background: map-get($roles-col-backgrounds, 'paper');
  }

  #layout-stage {
    display: block;
  }
}
